<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>AWC</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="/static/images/mylogo.png" alt="" />
            <span>
              Akash Welfare Club
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">
                    Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/purpose"> Purpose </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="contact.html"> Contact us</a>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

  </div>


  <!-- about section -->
  <section class="about_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/akash.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Essence of AWC
              </h2>
            </div>
            <p>
              The name "Akash Welfare Club" holds a profound significance for us. In February 2016, we experienced the
              heartbreaking loss of our beloved brother, the late <strong>Akash Chaudhary</strong>  Although he departed from our
              lives too soon, he left behind a treasure trove of cherished memories that will last a lifetime. It is our
              heartfelt endeavor to create a lasting legacy in the name of Akash. Through our work and initiatives, we
              aim to uphold his memory and make a positive impact in the lives of others.
            </p>
            <p>
              On 31st March 2020, during a conversation with my brothers, the impact of the Covid-19 pandemic was at its
              initial stage. We reflected upon the suffering of people due to the lockdown and the urgent need for help
              in our community. Despite our genuine desire to assist, we lacked sufficient resources at that time. It
              was during this discussion that we made a firm decision - we would establish an organization dedicated to
              the welfare of society in every possible way, driven by pure intentions.

            </p>
            <div>
              <a href="">
                Read More
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>


  </section>

  <!-- end about section -->




  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_form">

        <div class="row">
          <div class="offset-lg-3 col-lg-3">
            <h5 class="form_heading">
              <!-- Newsletter -->
            </h5>
          </div>
          <!-- <div class="col-md-6">
            <form action="#">
              <input type="text" placeholder="Enter Your email">
              <button>
                subscribe
              </button>
            </form>
          </div> -->
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <div>
              <a href="">
                <img src="/static/images/mylogo.png" alt="" />
                <span>
                  Akash Welfare Club
                </span>
              </a>
            </div>
            <p>
              <!-- There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration -->
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links ">
            <h5>
              Contact Us
            </h5>
            <p class="pr-0 pr-md-4 pr-lg-5">
              <address class="address" > 
                email : akashwelfareclub@gmail.com <br>
                contact : 9542100013
                </address>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              <!-- INFORMATION -->
          
            </h5>

            <p class="pr-0 pr-md-4 pr-md-5">
             
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pl-0 pl-lg-5 pl-md-4">
            <h5>
              <!-- MY ACCOUNT -->

            </h5>
            <p>
              <p>
                &copy; 2019 All Rights Reserved By
                <a href="/">AWC</a>
              </p>
          
              <div class="social_icons">
                <div class="tm-social-icons-container text-xs-center">
                  <a href="https://www.facebook.com/akashwelfareclub?mibextid=ZbWKwL" target="_blank" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                  <!-- <a href="/" target="_blank" class="tm-social-link"><i class="fa fa-youtube"></i></a> -->
                  <a href="https://www.instagram.com/akash_welfare_club/" target="_blank" class="tm-social-link"><i
                      class="fa fa-instagram"></i></a>
                </div>
              </div>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="/">Akash Welfare Club</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>

  <script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
      var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: {
          lat: 40.645037,
          lng: -73.880224
        }
      });

      var image = "images/maps-and-flags.png";
      var beachMarker = new google.maps.Marker({
        position: {
          lat: 40.645037,
          lng: -73.880224
        },
        map: map,
        icon: image
      });
    }
  </script>
  <!-- google map js -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
  </script>
  <!-- end google map js -->

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
</body>

</html>